<!-- Bloco de código C# -->
@{
    ViewData["Title"] = "Home Page";
    int ano = 2022;

}

<div class="text-center">
    <h1 class="display-4">
        @ViewData["Message"]
        <br>
        @ViewData["Title"]
    </h1>
    <p>
        Ano @ano 
        <br />
        Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>

    @for (int i = 0; i < 10; i++) { 
        <p>valor: @i</p>
    }



</div>
